[class*="cmsplugins-span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.cmsplugins-container,
.navbar-static-top .cmsplugins-container,
.navbar-fixed-top .cmsplugins-container,
.navbar-fixed-bottom .cmsplugins-container {
  width: 940px;
}

.cmsplugins-span12 {
  width: 940px;
}

.cmsplugins-span11 {
  width: 860px;
}

.cmsplugins-span10 {
  width: 780px;
}

.cmsplugins-span9 {
  width: 700px;
}

.cmsplugins-span8 {
  width: 620px;
}

.cmsplugins-span7 {
  width: 540px;
}

.cmsplugins-span6 {
  width: 460px;
}

.cmsplugins-span5 {
  width: 380px;
}

.cmsplugins-span4 {
  width: 300px;
}

.cmsplugins-span3 {
  width: 220px;
}

.cmsplugins-span2 {
  width: 140px;
}

.cmsplugins-span1 {
  width: 60px;
}

.cmsplugins-offset12 {
  margin-left: 980px;
}

.cmsplugins-offset11 {
  margin-left: 900px;
}

.cmsplugins-offset10 {
  margin-left: 820px;
}

.cmsplugins-offset9 {
  margin-left: 740px;
}

.cmsplugins-offset8 {
  margin-left: 660px;
}

.cmsplugins-offset7 {
  margin-left: 580px;
}

.cmsplugins-offset6 {
  margin-left: 500px;
}

.cmsplugins-offset5 {
  margin-left: 420px;
}

.cmsplugins-offset4 {
  margin-left: 340px;
}

.cmsplugins-offset3 {
  margin-left: 260px;
}

.cmsplugins-offset2 {
  margin-left: 180px;
}

.cmsplugins-offset1 {
  margin-left: 100px;
}

.cmsplugins-row-fluid {
  width: 100%;
  *zoom: 1;
}

.cmsplugins-row-fluid:before,
.cmsplugins-row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.cmsplugins-row-fluid:after {
  clear: both;
}

.cmsplugins-row-fluid [class*="cmsplugins-span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.cmsplugins-row-fluid [class*="cmsplugins-span"]:first-child {
  margin-left: 0;
}

.cmsplugins-row-fluid .controls-row [class*="cmsplugins-span"] + [class*="cmsplugins-span"] {
  margin-left: 2.127659574468085%;
}

.cmsplugins-row-fluid .cmsplugins-span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.cmsplugins-row-fluid .cmsplugins-span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.cmsplugins-row-fluid .cmsplugins-span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.cmsplugins-row-fluid .cmsplugins-span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.cmsplugins-row-fluid .cmsplugins-span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.cmsplugins-row-fluid .cmsplugins-span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.cmsplugins-row-fluid .cmsplugins-span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.cmsplugins-row-fluid .cmsplugins-span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.cmsplugins-row-fluid .cmsplugins-span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.cmsplugins-row-fluid .cmsplugins-span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.cmsplugins-row-fluid .cmsplugins-span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.cmsplugins-row-fluid .cmsplugins-span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

.cmsplugins-row-fluid .cmsplugins-offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}

.cmsplugins-row-fluid .cmsplugins-offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}

.cmsplugins-row-fluid .cmsplugins-offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}

.cmsplugins-row-fluid .cmsplugins-offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}

.cmsplugins-row-fluid .cmsplugins-offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}

.cmsplugins-row-fluid .cmsplugins-offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}

.cmsplugins-row-fluid .cmsplugins-offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}

.cmsplugins-row-fluid .cmsplugins-offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}

.cmsplugins-row-fluid .cmsplugins-offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}

.cmsplugins-row-fluid .cmsplugins-offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}

.cmsplugins-row-fluid .cmsplugins-offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}

.cmsplugins-row-fluid .cmsplugins-offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}

.cmsplugins-row-fluid .cmsplugins-offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}

.cmsplugins-row-fluid .cmsplugins-offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}

.cmsplugins-row-fluid .cmsplugins-offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}

.cmsplugins-row-fluid .cmsplugins-offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}

.cmsplugins-row-fluid .cmsplugins-offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}

.cmsplugins-row-fluid .cmsplugins-offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}

.cmsplugins-row-fluid .cmsplugins-offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}

.cmsplugins-row-fluid .cmsplugins-offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}

.cmsplugins-row-fluid .cmsplugins-offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}

.cmsplugins-row-fluid .cmsplugins-offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}

.cmsplugins-row-fluid .cmsplugins-offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}

.cmsplugins-row-fluid .cmsplugins-offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}

[class*="cmsplugins-span"].hide,
.cmsplugins-row-fluid [class*="cmsplugins-span"].hide {
  display: none;
}

[class*="cmsplugins-span"].pull-right,
.cmsplugins-row-fluid [class*="cmsplugins-span"].pull-right {
  float: right;
}

.cmsplugins-container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.cmsplugins-container:before,
.cmsplugins-container:after {
  display: table;
  line-height: 0;
  content: "";
}

.cmsplugins-container:after {
  clear: both;
}

.cmsplugins-container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.cmsplugins-container-fluid:before,
.cmsplugins-container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.cmsplugins-container-fluid:after {
  clear: both;
}
